# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.exe
*.spec
/build
/dist
*.AppImage
/CertGen
.gitignore
/output
/certgen

# Certificate outputs
*.pdf
temp_certificate.png

# Excel and template files (optional if users provide them externally)
*.xlsx
*.png
*.json
*certproj

# macOS and Windows junk
.DS_Store
Thumbs.db

# Python virtual environment
venv/
.env/

# Other
*.zip
.~lock.dummy_data2.xlsx#
hook-PIL.ImageTk.py
CHANGES.md
